.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.error {
  margin: 0;
  color: #b42318;
  font-size: 0.9rem;
  font-weight: 700;
}

.buttonGroup {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 16px;
}

.dialogButtonGroup {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 16px;
}
